* {
    font-family: Roboto, serif;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    font-weight: 600;
    color: #00bdce;
}

.home-img {
    width: 300px;
    height: auto;
}

.center {
    text-align: center;
}

h1 {
    text-align: center;
    font-family: Cambria;
}

li {
    margin: 10px 0;
}

ol > li::marker {
    font-weight: bold;
}